{%extends "layout.html"%} {% block content %}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">International Energy Outlook 2019</h2>
    </div>
</header>
<!--intro card-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3 mb-3">
                <p text-muted class="card-header">Error 500<br> Server error - Please contact support.</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}